<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/soundpost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Sndstream Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center hero-unit">
  <h1>Welcome to SndStream!</h1>

  <h2>
    The place where you can share a seven second sound blog.
  </h2>
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-success" %>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-info" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<% end %>
