<%= provide(:title, "All users") %>
<h1>All users</h1>

<%= will_paginate %>

<table class="table table-condensed">
  <thead>
    <tr>
      <% @headings.each do |h| %>
        <th><%= h %></th>
      <% end %>
    </tr>
  </thead>
  <%= render @users %>
</table>

<%= will_paginate %>

