<% provide(:title, @user.name) %>
<div class="row">
  <aside class="container-fluid">
    <section>
      <h1>
        <%= gravatar_for @user, size: 120 %>
        <%= @user.name %>
      </h1>
      <%= render 'shared/admin' %>
    </section>
  </aside>
  <div class="container-fluid">
    <% if @user.soundposts.any? %>
      <h3>Soundposts (<%= @user.soundposts.count %>)</h3>
      <ol class=:soundposts">
        <%= render @soundposts %>
      </ol>
      <%= will_paginate @soundposts %>
    <% end %>
  </div>
</div>
