<li id="<%= feed_item.id %>">
  <%= gravatar_for feed_item.user, size: 52 %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words feed_item.created_at %> ago.
  </span>
  <%= render :partial => 'shared/delete_item', 
      :locals => {:sndpost => feed_item } %>
</li>
