  <span class="content">
    <% unless sndstream.filetype.nil? %>
    <%= link_to 'download', sndstream, :title => 
    "You may have to right click then 'Save Link As ...' for downloads to work." %> 
    (<%= sndstream.filetype %>)
    <!-- Only some codes work in some browsers... -->
    <audio controls="controls">
      <source src="<%= soundpost_path(sndstream.id) %>" 
          type="<%= sndstream.filetype %>" />
    </audio>
    <% else %>
      No filetype associated with this sndstream!
    <% end %>

  <%#  Not practical to load a jplayer for every post - need unique identifiers.
  <%= render 'shared/jplayer' %>

  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words sndstream.created_at %> ago.
  </span>
  <span>
  <% if current_user?(sndstream.user) %>  
    <%= link_to raw('<i class="icon-trash icon-white"></i> delete'), sndstream,
        method: :delete,
        confirm: "Delete post?",
        title: "id: #{sndstream.id}",
        class: "btn btn-small btn-danger"
    %>
  <% end %>
  </span>
